<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="/js/login.js"></script>

</head>
<body>

<!--TODO: 로그인 조건 설명하기-->
<div id="gooleOAuth" text="Google Login">Google Login</div>
<div th:text="${user}"/>
<a href="/logout" role="button">Logout</a>

</body>
<script type="text/javascript"></script>
<script>
$(function(){
    $("#gooleOAuth").click(function(){
        oauth2SignIn();
    });
});
</script>
</html>
